/*

========================================================================================    


****** ****** *   *      *      *        *        ©2019 ROHAN PAL
*****  *    * *   *     * *     * *      *        All Rights Reserved
****   *    * *****    *   *    *   *    *        
* *    *    * *   *   *******   *     *  *        #madebyrohanpal
*  *   *    * *   *  *       *  *      * *
*   *  ****** *   * *         * *        *


========================================================================================

*/


*{
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar-brand{
    padding-left: 10%;
}

.head-title{
    max-width: 80%;
    padding-top: 80px; 
}



.head-intro{
    font-size: 75px;
    opacity: 0;
    animation: yourAnimation 0.8s forwards 0.5s ease-in-out;
    }

    @keyframes yourAnimation{
        0%{
            transform: rotate(0) translateY( 20%);
            opacity: 0;
            }
        100%{
            transform: rotate(0) translateY( 0);
            opacity: 1;
            }
    }

.para1{
    font-size: 25px;
    opacity: 0;
    animation: yourAnimation2 0.8s forwards 0.8s ease-in-out;
}

@keyframes yourAnimation2 {
    0%{
        transform: rotate(0) translateY(20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}

.para2{
    opacity: 0;
    animation: yourAnimation3 0.8s forwards 1s ease-in-out;
}

@keyframes yourAnimation3 {
    0%{
        transform: rotate(0) translateY(20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}

.highlight{
    color: #4A00E0;
}

.social{
    padding-top: 25px;
    max-width: 80%
}

.copyright{
    max-width: 80%;
    padding-top: 50px;
    font-size: 10px;
}

.fa{
    padding: 10px;
    color:#4A00E0;
}

.fa-behance{
    opacity: 0;
    animation: iconAnimation 0.8s forwards 1.2s ease-in-out;
}

@keyframes iconAnimation {
    0%{
        transform: rotate(0) translateY(20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}

.fa-linkedin{
    opacity: 0;
    animation: iconAnimation1 0.8s forwards 1.3s ease-in-out;
}

@keyframes iconAnimation1 {
    0%{
        transform: rotate(0) translateY(20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}

.fa-instagram{
    opacity: 0;
    animation: iconAnimation2 0.8s forwards 1.4s ease-in-out;
}

@keyframes iconAnimation2 {
    0%{
        transform: rotate(0) translateY(20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}

.fa-github{
    opacity: 0;
    animation: iconAnimation3 0.8s forwards 1.5s ease-in-out;
}

@keyframes iconAnimation3 {
    0%{
        transform: rotate(0) translateY(20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}

.fa-medium{
    opacity: 0;
    animation: iconAnimation4 0.8s forwards 1.6s ease-in-out;
}

@keyframes iconAnimation4 {
    0%{
        transform: rotate(0) translateY(20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}

.fa-youtube-play{
    opacity: 0;
    animation: iconAnimation5 0.8s forwards 1.7s ease-in-out;
}

@keyframes iconAnimation5 {
    0%{
        transform: rotate(0) translateY(20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}

.fa-quora{
    opacity: 0;
    animation: iconAnimation6 0.8s forwards 1.8s ease-in-out;
}

@keyframes iconAnimation6 {
    0%{
        transform: rotate(0) translateY(20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}

.fa-envelope{
    opacity: 0;
    animation: iconAnimation7 0.8s forwards 1.9s ease-in-out;
}

@keyframes iconAnimation7 {
    0%{
        transform: rotate(0) translateY(20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}



/* 

================================================

Code Completion Version Timings:

Version 0.0.1 10/02/2019 3:37AM Reading Room KP7  

================================================


*/